#import {

  margin-left: 0.5%;

}

#results-view {

  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#table {

  box-shadow: none !important;
  text-align: center;
  width: 50%;
  height: 100%;
  flex: 1;

}

.tableHeader {

  font-size: 100%;
  font-weight: bold;
  text-align: center;

}
