<div id="bodyWrapper">

  <form id="testsForm" #addressForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">

    <div class="spacer">

    </div>

    <div class="csWrapper">

      <section *ngFor="let category of rawCategories; let i = index;">

        <div class="categorySubject">
          <mat-form-field class="inputName" appearance="standard" [style.fontSize.px]=14>
            <input matInput type="text" [(ngModel)]="category.name" [name]="category.name+'_'+i" placeholder="Category"/>
          </mat-form-field>

          <div class="removeWrapper">
            <a class="removeButton" mat-mini-fab color="warn" (click)="removeCategory(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>

      </section>

      <br/>
      <a class="addCSButton" mat-flat-button color="primary" (click)="addCategory()"> Add a Category </a>

    </div>

    <div class="spacer">

    </div>


<!--    <a id="buttonC2" mat-flat-button color="primary" (click)="removeRecentlyAddedCategory()"> Remove Category </a>-->

    <div class="csWrapper">

      <section *ngFor="let subject of rawSubjects; let j = index;">

        <div class="categorySubject">
          <mat-form-field class="inputName" appearance="standard" [style.fontSize.px]=14>
            <input matInput type="text" [(ngModel)]="subject.name" [name]="subject.name+'_'+j" placeholder="Subject"/>
          </mat-form-field>

          <div class="removeWrapper">
            <a class="removeButton" mat-mini-fab color="warn" (click)="removeSubject(j)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>

      </section>
      <br/>
      <a class="addCSButton" mat-flat-button color="primary" (click)="addSubject()"> Add a Subject </a>

    </div>

    <div class="spacer">

    </div>

  </form>

  <a id="submitButton" mat-flat-button color="accent" (click)="submitTest()"> Save this test </a>

</div>
