<mat-toolbar color="primary">

  <a id="logo" mat-button routerLink="">

    <mat-icon id="icon">

      call_split

    </mat-icon>

    MoqTest

  </a>

  <a class="button" mat-button routerLink="createTests" *ngIf="user.role == 'UXER'">

    Create tests

  </a>

  <a class="button" mat-button routerLink="viewTests" *ngIf="user.role == 'UXER'">

    View your tests

  </a>

  <a class="button" mat-button routerLink="loadTests" *ngIf="user.role == 'TESTER'">

    Load a test

  </a>


  <div class="spacer">

  </div>

  <app-sign-in-out>

  </app-sign-in-out>

</mat-toolbar>
