#bodyWrapper {

  height: 93.7%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;

}


#leftSide {

  display: flex;
  flex-direction:column;
  flex: 3;
  justify-content: space-between;

}


#sidebar {

  flex: 1;

}


#toolbar {

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;

}


#import {

}


#saveTest {

  right: 0;

}


#websiteContainer {

  flex: 9;
  border-top: 2px solid #AAAAAA;
  border-right: 2px solid #AAAAAA;

}


#websiteIframe {

  border: none;
  padding: 0;
  -webkit-transform:scale(0.9);
  -webkit-transform-origin: top left;
  margin: 0 0 0 -3.5%;
  background-color: #EEEEEE;
  width: 115.1%;
  height: 111.2%;

}
