<div id="bodyWrapper">

  <div id="leftSide">

    <div id="toolbar">

      <div id="import">

        <mat-form-field id="inputUrl" appearance="standard" [style.fontSize.px]=18>

          <label>

            <input matInput type="url" id="urlInput" [(ngModel)]="testId" placeholder="Test id" />

          </label>

        </mat-form-field>

        <a id="buttonUrl" mat-flat-button color="primary" (click)="embedWebsite()"> Load a test </a>

      </div>

      <mat-form-field id="testTitle" appearance="standard" [style.fontSize.px]=18>

        <input matInput type="text" [(ngModel)]="testTitle" readonly/>

      </mat-form-field>

<!--      <a mat-flat-button color="accent" id="startScreenRecording" routerLink="/screenRecording">-->
<!--        Start screen recording-->
<!--      </a>-->

      <div id="saveTestWrapper">
        <a mat-flat-button color="accent" id="saveTest" *ngIf="isLoaded" (click)="saveResults()"> Save your results </a>
      </div>


    </div>

    <div id="websiteContainer">
      <iframe id="websiteIframe"></iframe>

    </div>

  </div>


  <div id="rightSide">

    <mat-tab-group id="tabGroup" animationDuration="0ms" mat-stretch-tabs>
      <mat-tab class="tab" label="Tasks" >

        <form class="container mt-3" (ngSubmit)="logValue()" >
          <section *ngFor="let task of rawTasks; let i = index;" fxLayout="column">
            <div class="task">
              <div class="taskText">
                <label class="taskName">
                  {{'Task ' + (i+1) + ': ' + task.name}}
                </label>

                <label class="taskDescription">
                  {{task.description}}
                </label>

              </div>

              <div class="doneCheckWrapper">
                <mat-checkbox class="doneCheck">Done</mat-checkbox>
              </div>




            </div>
            <mat-divider *ngIf="i != rawTasks.length - 1"></mat-divider>
          </section>

        </form>
      </mat-tab>
      <mat-tab label="Questionnaire" class="tab">
        <form class="container mt-3" (ngSubmit)="logValue()" >
          <section *ngFor="let q of rawQuestionsT; let i = index;" fxLayout="column">
            <div class="question">
              <div class="questionContent">
                <label>
                  {{q.content}}
                </label>
              </div>

              <mat-form-field class="answerT" appearance="standard">

                <input matInput type="text" [name]="'questionT_' + i"  placeholder="Your answer"/>

              </mat-form-field>
            </div>

          </section>

          <section *ngFor="let q of rawQuestionsMA; let i = index;" fxLayout="column">
            <div class="question">
              <div class="questionContent">
                <label>
                  {{q.content}}
                </label>
              </div>

              <section *ngFor="let o of q.options; let i = index;" fxLayout="column">
                  <mat-checkbox >{{o.content}}</mat-checkbox>
              </section>
            </div>

          </section>

<!--          temporary "workaround"   -->

<!--          <section *ngFor="let q of rawQuestionsMC; let i = index;" fxLayout="column">-->
<!--            <div class="question">-->
<!--              <div class="questionContent">-->
<!--                <label>-->
<!--                  {{q.content}}-->
<!--                </label>-->
<!--              </div>-->
<!--              -->
<!--              <section *ngFor="let o of q.options; let i = index;" fxLayout="column">-->
<!--                <mat-radio-button class="answerMC">{{o.content}}</mat-radio-button>-->
<!--              </section>-->
<!--  -->
<!--  -->
<!--            </div>-->
<!--          </section>-->

          <section *ngFor="let q of rawQuestionsLS; let i = index;" fxLayout="column">
            <div class="question">
              <div class="questionContent">
                <label>
                  {{q.content}}
                </label>
              </div>

              <section *ngFor="let o of likertScaleArray(q.possibleStepsNo); let i = index;" fxLayout="column">
                <mat-radio-button class="answerMC">{{(i+1)}}</mat-radio-button>
              </section>

            </div>

          </section>

        </form>
      </mat-tab>
    </mat-tab-group>

  </div>

</div>
