<div id="bodyWrapper">
  <div id="import" *ngIf="! testLoaded">

    <mat-form-field appearance="standard" [style.fontSize.px]=18>
      <label>
        <input matInput type="bigint" [(ngModel)]="testID" id="intInput" placeholder="Card sorting test id"/>
      </label>
    </mat-form-field>
    <a id="getButton" [disabled]="testLoaded" mat-flat-button color="primary" (click)="getTest()"> Load a card sorting test </a>

  </div>
  <div id="test">
    <p class="description">Please assign each subject to the appropriate <a style="color:	#f14382">category</a>.</p>
    <br>
    <div class="container" id="subjectsWrapper">
      <h2>SUBJECTS</h2>
      <div
        cdkDropList
        id = "subjectList"
        [cdkDropListData]="subjects"
        [cdkDropListConnectedTo]="categoriesIdList"
        class="list"
        (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let subject of subjects" cdkDrag>{{subject.name}}</div>
      </div>
    </div>

    <div class="container" id="categoriesWrapper" *ngFor="let categoryWithSubjects of categoriesWithSubjects">

      <h2 style="color:	#f14382">{{categoryWithSubjects.category.name}}</h2>
      <div
        cdkDropList
        id = "categoryList{{categoryWithSubjects.category.id}}"
        [cdkDropListData]="categoryWithSubjects.subjects"
        [cdkDropListConnectedTo]="['subjectList'].concat(categoriesIdList)"
        class="list"
        (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let subject of categoryWithSubjects.subjects" cdkDrag>{{subject.name}}</div>
      </div>
    </div>
    <br/>
    <a id="submitButton" type="submit" [disabled]="subjects.length!=0" mat-flat-button color="primary" (click)="submit()"> Submit this solution </a>
  </div>
</div>
