




<mat-form-field id="questionnaireName" appearance="standard" [style.fontSize.px]=18>

    <input matInput type="text" [(ngModel)]="questionnaireName"  placeholder="Questionnaire name"/>

</mat-form-field>

<form id="questionsForm" class="container mt-3" (ngSubmit)="logValue()">    

  <section *ngFor="let question of rawQuestions; let i = index;">
    
        <label>Question {{i + 1}}</label> 
        
        <mat-form-field id="inputField" appearance="standard" [style.fontSize.px]=14>
    
          <input matInput type="text" [(ngModel)]="question.content" name="content_{{question.id}}" placeholder=""/>
    
        </mat-form-field>

  </section>

  <br/>

  
  <a id="button" mat-flat-button color="primary" (click)="addQuestion()"> Add Question </a>

  <a id="button" mat-flat-button color="primary" (click)="removeRecentlyAddedQuestion()"> Remove Question </a>

  <br/>

  <a id="button" mat-flat-button color="accent" (click)="submitQuestionnaire()"> Submit Questionnaire </a>
  
</form>
