<h1>
  <label id="title">
    Your tests:
  </label>
</h1>

<div id="groups">

  <div label="Your tests:">

    <form class="container mt-3" >
      <div cdkDropListGroup>
        <section *ngFor="let name of names" fxLayout="column">

          <mat-form-field class="groupName" id="{{name}}" apperance="standard" [style.fontSize.px]=18>
            <input matInput type="text"  placeholder="{{name}}"/>
          </mat-form-field>

          <div class="container">
            <div cdkDropList class="example-list" [cdkDropListData]="groupedTests" id="list-{{name}}" (cdkDropListDropped)="drop($event)">
              <section *ngFor="let test of groupedTests">

                <div class="example-box" cdkDragLockAxis="y"  cdkDrag>

                  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <label id="test-{{test.test.id}}">
                      {{test.test.title}}
                    </label>
                    <button id="stTest" class="submit-btn" color="primary" mat-raised-button type="submit"
                            (click)="startTest(test)">Start Test</button>
                    <button id="export" class="submit-btn" color="primary" mat-raised-button type="submit"
                            (click)="this.exportButton.setQuestionnaireId(test.test.questionnaire.id); this.exportButton.downloadExport()">Export</button>
                    <button id="record" class="submit-btn" color="primary" mat-raised-button type="submit"
                            (click)="this.viewRecordings(test)">Show Recordings</button>

                </div>
              </section>
            </div>
          </div>
        </section>

        <mat-form-field class="groupName" id="new" apperance="standard" [style.fontSize.px]=18>
          <input matInput type="text"  placeholder="new"/>
        </mat-form-field>

        <div class="container">
          <div cdkDropList class="example-list" [cdkDropListData]="newTests" id="list-new" (cdkDropListDropped)="drop($event)">
            <div class="example-box" cdkDragLockAxis="y" *ngFor="let test of newTests" cdkDrag>

              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <label id="test-new-{{test.test.id}}">
                {{test.test.title}}
              </label>
              <button id="stTest" class="submit-btn" color="primary" mat-raised-button type="submit"
                      (click)="startTest(test)">Start Test</button>
              <button id="export" class="submit-btn" color="primary" mat-raised-button type="submit"
                      (click)="this.exportButton.setQuestionnaireId(test.test.questionnaire.id); this.exportButton.downloadExport()">Export</button>
              <button id="record" class="submit-btn" color="primary" mat-raised-button type="submit"
                      (click)="this.viewRecordings(test)">Show Recordings</button>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<div id="addGroup">
  <button id="addNewGroup" class="submit-btn" color="primary" mat-raised-button type="submit"
          (click)="addGroup()">Add Group</button>
</div>

