<p>
  Select test from the list below:
</p>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" cdkDragLockAxis="y" *ngFor="let test of tests" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      {{test.title}}
      <button class="submit-btn position" color="primary" mat-raised-button type="submit"
              (click)="startTest(test)">Start test</button>
      <button class="submit-btn position" color="primary" mat-raised-button type="submit"
            (click)="this.exportButton.setQuestionnaireId(test.questionnaire.id); this.exportButton.downloadExport()">Export</button>
      <button>

      </button>
  </div>
</div>

