#bodyWrapper {

  height: 93.5%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;

}

#leftSide {

  display: flex;
  flex-direction:column;
  flex: 7;
  justify-content: space-between;

}

#rightSide {

  flex: 3;
  margin-top: 0.7%;
  margin-left: 1%;
  overflow: auto;

}

.tab {

}

#tabGroup {

}

#task {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#taskText {

  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#removeTaskWrapper {

  flex: 1;
  text-align: center;
  position: relative;

}

#removeTaskButton {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: none !important;

}

#inputName {

  margin-bottom: -5%;
  flex: 1;

}

#inputDescription {

  flex: 1;

}


#toolbar {

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;

}


#import {

  flex: 10;

}

#buttonUrl {

}

#inputUrl {

  width: 40%;
  margin-right: 1%;

}

#addTaskButton {

  margin-bottom: 0.2%;
  box-shadow: none !important;

}

#testTitle {

  flex: 3;

}

#saveTestWrapper {

  flex: 2;
  text-align: right;

}

#saveTest {

  text-align: right;

}


#websiteContainer {

  flex: 11;
  border-top: 2px solid #AAAAAA;
  border-right: 2px solid #AAAAAA;

}


#websiteIframe {

  border: none;
  padding: 0;
  -webkit-transform:scale(1);
  -webkit-transform-origin: top left;
  margin: 0 0 0 -4%;
  background-color: #EEEEEE;
  width: 104%;
  height: 100%;

}
