<div id="bodyWrapper">

  <div id="leftSide">

    <div id="toolbar">

      <mat-form-field id="testTitle" appearance="standard" *ngIf="isLoaded" [style.fontSize.px]=18>

        <input matInput type="text" [(ngModel)]="this.test.title" readonly/>

      </mat-form-field>

    </div>

    <div id="websiteContainer">

      <iframe id="websiteIframe"></iframe>

    </div>

  </div>


  <div id="rightSide">

    <mat-tab-group id="tabGroup" animationDuration="0ms" mat-stretch-tabs>
      <mat-tab class="tab" *ngIf="! isTasksDone" label="Tasks">

        <form class="container mt-3" >
          <section *ngFor="let task of rawTasks; let i = index;" fxLayout="column">
            <div class="task">
              <div class="taskText">
                <label class="taskName">
                  {{'Task ' + (i+1) + ': ' + task.name}}
                </label>

                <label class="taskDescription">
                  {{task.description}}
                </label>

              </div>

              <div class="doneCheckWrapper">
                <mat-checkbox class="doneCheck">
                  Done
                </mat-checkbox>
              </div>

            </div>
            <mat-divider *ngIf="i != rawTasks.length - 1"></mat-divider>
          </section>

        </form>
      </mat-tab>
    </mat-tab-group>

    <div id="proceedSaveWrapper" *ngIf="isLoaded">
      <a mat-flat-button color="accent" *ngIf="! isTasksDone" (click)="checkTasksAndProceed()">
        End test
      </a>
    </div>

  </div>

</div>
