<div>
  <div id="task">
    <h1>
      Task:
      <br>
      {{currTask.name}}
    </h1>
  </div>

  <div id="description">
    <h2>
      Description:
      <br>
      {{currTask.description}}
    </h2>
  </div>

  <div id="buttonDiv">
    <button #nextBtn id="nextTaskButton" class="submit-btn" color="primary" mat-raised-button type="submit"
               (click)="nextTask()">Next task</button>
  </div>

</div>

<div id="toolbar">
  <div id="import">

    <mat-form-field appearance="standard" [style.fontSize.px]=18>

      <label>

        <input matInput type="url" [(ngModel)]="modelMessage" id="urlInput"/>

      </label>

    </mat-form-field>

    <a mat-flat-button color="primary" (click)="embedWebsite()"> Import a mockup </a>

  </div>

  <div id="websiteContainer">
    <iframe id="websiteIframe"></iframe>
  </div>

</div>
